
<div class="container" style="background-color: white; margin-top: 100px; padding: 10px">
    <div class="nav">
        Besoin d'aide?
    </div>
    <form class="example-form">

        <h2>1- Comment puis-je m’inscrire sur Gimme-Work?</h2>
        <hr>
        <p>- Sur la page d’accueil en haut à droite, cliquez sur <a (click)="openDialog()" style="cursor: pointer; color: #337ab6;">« S'inscrire ».</a><br>

            - Insérez soigneusement les informations demandées.<br>

            - Suite à l'enregistrement de ces données, le compte sera créé mais il reste en attente de votre confirmation par mail.<br>

            - Consultez vote boite email et cliquez sur le lien de confirmation reçu.<br>

            - Votre compte est maintenant accessible. Vous pouvez maintenant créer et mettre à jour votre CV (informations personnelles, <br>
            informations professionelles, Expériences, Diplômes, Compétences, Points forts, Points d'interêt)</p>
        <h2>2- J'ai oublié mon mot de passe, comment le modifier ?</h2>
        <hr>
        <p>Pour récupérer votre mot de passe :<br>

            - Dans la page de connexion, cliquez sur <a href="/forget-password">« mot de passe oublié »</a> en bas du  formulaire.<br>

            - Insérez votre email de compte<br>

            - Vérifier votre boite email (même les spams) et cliquez sur le lien de récupération de mot de passe reçu.<br>

            - Insérez votre nouveau de passe (deux fois comme demandé par la formulaire).<br>

            - Maintenant votre mot de passe est réinitialisé. Vous pouvez l'utiliser lors de votre prochaine connexion</p>
        <h2>3- Comment créer mon CV ?</h2>
        <hr>
        <p>- Connectez-vous avec vos identifiants Gimme-Worm (email, mot de passe).<br>

            -Dans votre profil Cliquez sur « CV » ,puis « ajouter » ,choisir votre modèle et puis remplir le formulaire.<br>

            - Télecharger en version PDF </p>
        <h2>4- Comment mettre toutes les chances de mon côté pour être recruté ?</h2>
        <hr>
        <p>Pour améliorer vos chances d’être recruté, soignez votre pourcentage de complétion de CV.<br>
            Enfin, soignez la rédaction de votre CV. Allez faire un tour dans notre rubrique <a href ="#"> conseils carrière sur notre blog !</a></p>
        <h2>5- Comment rechercher une annonce ?</h2>
        <hr>
        <p>Sur  la page d'accueil du site, dans la barre de recherche , entrez les mots clés : région, métiers, entreprise ...etc. puis cliquez sur « Lancer ma recherche ».<br>

            Vous pouvez accéder à toutes les offres d'emploi publiées via la rubrique du menu principale <a href="/offres">« Offres d'emploi »</a></p>
        <h2>6- Comment recevoir les offres d'emploi qui correpondent à mes critères de recherche?</h2>
        <hr>
        <p>Lancez une recherche avec les critères que vous désirez.

            En haut de la page, cliquez sur la rubrique <a href="#">« Créer une alerte pour cette recherche » </a>située à gauche.

            Entrez un nom de  votre choix et sauvegarde les données.

            De cette mannière, vous pouvez recevoir régulièrement les annonces relatives à cette recherche selon la fréquence d'envoi configurée.</p>
        <h2>7- Comment postuler à une offre d'emploi ?</h2> <hr>
        <p>Identifiez-vous via la page de connexion.<br>

            Consultez l'offre recherchée<br>

            Cliquez sur le bouton « Postuler » en bas de l'annonce<br>

            Choisissez votre CV personnalisé et lettre de motivation (c'est optionnel)<br>

            Cliquez sur « Valider »<br>

            L'entreprise sera informée de votre candidature et vous contactera si votre profil correspond à son besoin.</p>
        <h2>8- Est ce que je peux contactez directement l'entreprise?</h2> <hr>
        <p>Les entreprises choisissent de maintenir leur contacts confidentiels et ne recevoir les candidatures que via Gimme-Work.com.</p>
        <h2>9- Qu’est ce que l’alerte email ?</h2> <hr>
        <p>Cela permet d’être averti par email dès qu’une nouvelle annonce ou qu’un nouveau profil de candidat correspondant à vos critères de recherche parait sur Gimme-Work.<br>Sur Gimme-Work vous pouvez paramétrer les fréquences d’envoi de ces emails.</p>





    </form>

</div>
