<mat-card style="margin-top: 100px">
    <div class="contact_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">


                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="https://img.icons8.com/office/24/000000/iphone.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">+70 553 241</div>
                            </div>
                        </div>


                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">gimmework3@gmail.com</div>
                            </div>
                        </div>


                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/map-marker.png" alt=""></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Address</div>
                                <div class="contact_info_text">298,Tunis ariana</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact_form_container">
                        <div class="contact_form_title" style="color: #3e50b0">Contact Us</div>

                        <form  #mail="ngForm" (ngSubmit)="sendContact(mail)"  >
                            <mat-form-field appearance="outline" style="width:460px">
                                <mat-label >Entrer votre nom</mat-label>
                                <input matInput  name="name"  placeholder="nom"  required [(ngModel)]="contact.name"  >
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:460px;margin-left: 20px">
                                <mat-label >Entrer votre mail</mat-label>
                                <input matInput  name="email"  placeholder="mail@gmail.com"  required [formControl]="email" [(ngModel)]="contact.email"  >
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">

                            </div>
                            <div class="contact_form_text">
                                <textarea id="contact_form_message" class="text_field contact_form_message" name="message" [(ngModel)]="contact.message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            </div>
                            <div class="contact_form_button">
                                <button type="submit"  class="button contact_submit_button" mat-dialog-close (click)="send()">Send Message</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-card>