<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted butt" style="border-top:1px rgba(155,155,155,0.79) solid; margin-top: 50px">

    <!-- Section: Links  -->
    <section style="padding: 50px ; display: flex">
        <div style="display: flex ; justify-content: space-around; width: 75%; text-align: left">
            <div style="width: max-content; font-size: small">
                <!-- Links -->
                <h4 class="text-uppercase fw-bold mb-4">
                    Secteurs d'activité
                </h4>
                <p>
                    <a href="#!" class="text-reset">aéronautique / aviation / voyagiste</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">agriculture / agro-alimentaire / environnement</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">architecture / immobilier / BTP</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">artisanat / textile / cuir</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">automobile / moteurs / engins mécaniques</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">banque / finance / assurances</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">call center / télévente</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">chimie / biologie / physique</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">commerce / vente / distribution</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">communication / publicité / média</a>
                </p>

            </div>
            <div style="width: max-content; font-size: small">
                <!-- Links -->
                <p>
                    <a href="#!" class="text-reset">comptabilité / gestion / audit</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">consulting / étude / stratégie</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">cosmétique / parfumerie / luxe</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">culture / audiovisuel</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">droit / fiscalité</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">électronique / électricité / énergie</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">enseignement / formation / puériculture</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">fonction publique / collectivités locales</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">gardiennage / sécurité / maintenance</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">import / export</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">industrie électro-mécaniques</a>
                </p>
            </div>
            <div style="width: max-content; font-size: small">
                <!-- Links -->
                <p>
                    <a href="#!" class="text-reset">industrie métalliques</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">informatique / télécoms</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">journalisme / traduction / édition</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">recrutement / ressources humaines</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">santé / paramédical / optique</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">tourisme / hôtellerie / restauration / loisirs</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">recrutement / ressources humaines</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">santé / paramédical / optique</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">tourisme / hôtellerie / restauration / loisirs</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">transport / logistique</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">autres</a>
                </p>
            </div>
        </div>
        <div style="width: 25%;  text-align: left">
            <!-- Content -->
            <div class="form-group">
                <label for="exampleInputEmail1">INSCRIVEZ-VOUS POUR RECEVOIR DES ALERTES</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Votre email">
                <small id="emailHelp" class="form-text text-muted">Ajoutez votre email pour commencer. Vous pouvez
                    vous désabonner à tout moment.</small>
            </div>
            <button type="submit" class="btn btn-primary">Créer une alerte</button>
            <button mat-button color="primary" style="color: #3f51b4" routerLink="/help">Besoin d'aide?</button>
            <button mat-button color="primary" style="color: #3f51b4" routerLink="/contact">Contacter nous?</button>


        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->