<div style="text-align: center;width: 800px;">
    <div  *ngIf="OffresPublic.length==0 && erreure==''" style="margin: auto;width: 600px; height: 400px; text-align: center">
        <mat-spinner style="margin-left: 250px;margin-top: 100px"></mat-spinner><br>
        <mat-card-title style="color:#3f51b4;">Chargement...</mat-card-title>
        <mat-card-title style="margin-top: 100px">{{erreure}}</mat-card-title>
    </div>
    <mat-card style="margin: 20px;cursor: pointer" *ngFor="let offrePublic of OffresPublic | paginate: {id: 'kjjjj',itemsPerPage: 6, currentPage: p}"
              class="example-ripple-container mat-elevation-z4"
              matRipple
              [matRippleCentered]="centered"
              [matRippleDisabled]="disabled"
              [matRippleUnbounded]="unbounded" (click)="visiter(offrePublic.link)">
        <mat-card-header style="margin-top: 10px;display: flex; align-items: center;">
            <mat-card-title>
                <img alt=" " [src]="offrePublic.image" style="width: 200px; height: 100px;">
            </mat-card-title>
            <div style="text-align: left">
                <mat-card-title style="color: #3f51b4; font-weight: bold;">{{offrePublic.title}}</mat-card-title>
                <p style="font-weight: bold;font-size: 20px;">Société: {{offrePublic.company}}</p>
            </div>
        </mat-card-header>
    </mat-card>


    <pagination-controls (pageChange)="p = $event" id="kjjjj"></pagination-controls>

</div>





