<div style="width: 500px; text-align: center">
    <form class="example-form" #editForm="ngForm">

        <table>
            <tr>
                <td style="text-align: left">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput [(ngModel)]="user.nom" name="nom" ngModel required>
                    </mat-form-field>
                </td>
                <td style="text-align: right">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Prénom</mat-label>
                        <input matInput [(ngModel)]="user.prenom" name="prenom" ngModel required>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td style="text-align: left">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [(ngModel)]="user.date_naissance" type="date" name="date_naissance" ngModel required>
                    </mat-form-field>
                </td>
                <td style="text-align: right">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mail</mat-label>
                        <input matInput [(ngModel)]="user.mail" name="mail" ngModel required>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td style="text-align: left">
                    <mat-form-field class="example-full-width" appearance="fill" *ngIf="role== 'Condidat'">
                        <mat-label>Fonction</mat-label>
                        <input matInput [(ngModel)]="user.fonction" name="fonction" ngModel required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" *ngIf="role== 'Recruteur'">
                        <mat-label>Tel</mat-label>
                        <input matInput type="number" [(ngModel)]="user.num_tel" name="num_tel" ngModel required
                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               maxlength="8">
                    </mat-form-field>
                </td>

                <td style="text-align: right" >
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>adresse</mat-label>
                        <input matInput [(ngModel)]="user.adresse" name="adresse" ngModel required>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td style="text-align: left">
                    <mat-form-field class="example-full-width" appearance="fill" style="display: none">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput [(ngModel)]="user.mdp" type="password" name="mdp" ngModel required>
                    </mat-form-field>
                </td>

                <input type="number" style="display: none" name="id" matInput ngModel="{{user.id}}">

            </tr>

            <tr>

                <td colspan="2" style="text-align: center; width: 500px; padding-top: 10px">
                    <mat-card-actions>
                        <button mat-flat-button *ngIf="role == 'Condidat'" color="primary" [disabled]="editForm.invalid" (click)="updateCandidat(editForm.value)">Confirmer</button>
                        <button mat-flat-button *ngIf="role == 'Recruteur'" color="primary" [disabled]="editForm.invalid" (click)="updateRecruteur(editForm.value)">Confirmer</button>
                        <button mat-flat-button mat-dialog-close color="primary" style="margin-left: 30px">Annuler</button>
                    </mat-card-actions>
                </td>

            </tr>
        </table>
    </form>
</div>
