<div class="container" style="margin-top: 100px; text-align: center">
    <h1 style="font-weight: bold; color: #2a77ba">Choisir votre Modèle de CV Gratuit</h1>
    <p>Le téléchargement de ces deux exemples de CV est gratuit.Choisir votre modèle , puis personnaliser-le en intégrant vos formations,<br> vos expériences professionnelles, vos compétences, etc.Vous pouvez alors exporter en PDF. </p>

    <div class="row">
        <div class="col-6" style="text-align: center">
            <img (click)="openDialogcv(1)" src="./assets/cv-3-green.jpg" style="width:90%; height:auto; margin-top: 30px; cursor: pointer">
        </div>
        <div class="col-6" style="text-align: center">
            <img (click)="openDialogcv(2)" src="/assets/cv-6-pink.jpg" style="width:90%; height:auto;margin-top: 30px; cursor: pointer">
        </div>
    </div>
</div>

