<div style="width: 800px; margin-top: 50px; text-align: center">
    <mat-card-title style="color: #3f51b4" *ngIf="Offres.size == 0">Aucune offre recommandée pour l'instant</mat-card-title>
    <mat-card *ngFor="let offre of Offres | keyvalue | paginate: { id: 'no',itemsPerPage: 4, currentPage: p }" style="margin: 20px;cursor: pointer" (click)="getDetails(offre.key.id, offre.value.id)"
              class="example-ripple-container mat-elevation-z4"
              matRipple
              [matRippleCentered]="centered"
              [matRippleDisabled]="disabled"
              [matRippleUnbounded]="unbounded">
        <mat-card-header style="margin-top: 10px;display: flex; align-items: center;">
            <mat-card-title><img [src]="offre.value.image.url" style="width: 100px; height: 100px; border-radius: 50%"></mat-card-title>
            <div>
                <mat-card-title style="color: #3f51b4; font-weight: bold">{{offre.key.titre}}</mat-card-title>
                <mat-card-subtitle>Valable jusqu'au: {{offre.key.date_expiration}}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content style="font-size: 20px;padding-left: 135px">
            <div style="display: flex;">
                <p style="font-weight: bold">{{offre.value.prenom}} {{offre.value.nom}}</p>
                <div style="border-left: 1.5px solid rgb(0,0,0);margin-right: 10px;margin-left: 10px; height: 20px;"></div>
                <p style="color: #818181">{{offre.key.domaine}}</p>
            </div><br>
            <div style="display: flex;align-items: center;">
                <mat-icon color="primary"><span class="material-symbols-outlined">location_on</span></mat-icon>
                {{offre.key.lieu.toUpperCase()}}
                <mat-icon color="primary" style="margin-left: 20px"><span class="material-symbols-outlined">description</span></mat-icon>
                {{offre.key.type_poste}}
                <mat-icon color="primary" style="margin-left: 20px"><span class="material-symbols-outlined">schedule</span></mat-icon>
                {{offre.key.disponibilite}}
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
            <mat-card-subtitle style="display: flex; align-items: center;margin-left: 15px;margin-top: 5px;margin-bottom: 5px">
                <span class="material-symbols-outlined" style="margin-right: 5px">schedule</span>{{offre.key.date_ajout}}
            </mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
    <pagination-controls (pageChange)="p = $event" id="nao" *ngIf="Offres.size>4"></pagination-controls>
</div>